<section class="container contact active" id="contact">
  <div class="contact-container">
      <div class="main-title">
          <h2>Contacta<span>Me</span><span class="bg-text">Contacto</span></h2>
      </div>
      <div class="contact-content-con">
          <div class="left-contact">
              <h4>
                Contáctame aquí</h4>
              <p>
                Aquí puedes dejarme un mensaje, una sugerencia lo que quieras...!
              </p>
              <div class="contact-icons">
                  <div class="contact-icon">
                      <a href="www.facebook.com" target="_blank">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#" target="_blank">
                          <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#" target="_blank">
                          <i class="fab fa-github"></i>
                      </a>
                      <a href="#" target="_blank">
                          <i class="fab fa-youtube"></i>
                      </a>
                  </div>
              </div>
          </div>
          <div class="right-contact">
              <form action="" class="contact-form">
                  <div class="input-control i-c-2">
                      <input type="text" required placeholder="Escribe tú nombre">
                      <input type="email" required placeholder="Deja por aquí tú correo">
                  </div>
                  <div class="input-control">
                      <input type="text" required placeholder="Sobre que quieres hablar">
                  </div>
                  <div class="input-control">
                      <textarea name="" id="" cols="15" rows="8" placeholder="Aquí desarrolla tu punto..."></textarea>
                  </div>
                  <div class="submit-btn">
                      <a href="#" class="main-btn">
                          <span class="btn-text">Enviar</span>
                          <span class="btn-icon"><i class="fas fa-envelope"></i></span>
                      </a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
