<section class="container active" id="portfolio">
  <div class="main-title">
      <h2>Mi <span>Portafolio</span><span class="bg-text">Mis trabajos</span></h2>
  </div>
  <p class="port-text">
      Aquí está algo de mi trabajo que he hecho en varias herramientas, metodologias y patrones de programación.
  </p>
  <div class="portfolios">
      <div class="portfolio-item">
          <div class="image">
              <img src="../../../assets/img/portfolio/app-echange-vue.png" alt="">
          </div>
          <div class="hover-items">
              <h3>Fuente del proyecto</h3>
              <div class="icons">
                  <a href="#" class="icon">
                      <i class="fab fa-github"></i>
                  </a>
                  <!-- <a href="#" class="icon">
                      <i class="fab fa-behance"></i>
                  </a>
                  <a href="#" class="icon">
                      <i class="fab fa-youtube"></i>
                  </a> -->
              </div>
          </div>
      </div>
      <div class="portfolio-item">
          <div class="image">
              <img src="../../../assets/img/portfolio/app-effects-angular.png" alt="">
          </div>
          <div class="hover-items">
              <h3>Fuente del proyecto</h3>
              <div class="icons">
                  <a href="#" class="icon">
                      <i class="fab fa-github"></i>
                  </a>
                  <!-- <a href="#" class="icon">
                      <i class="fab fa-behance"></i>
                  </a>
                  <a href="#" class="icon">
                      <i class="fab fa-youtube"></i>
                  </a> -->
              </div>
          </div>
      </div>
      <div class="portfolio-item">
          <div class="image">
              <img src="../../../assets/img/portfolio/app-ingress-egress.png" alt="">
          </div>
          <div class="hover-items">
              <h3>Fuente del proyecto</h3>
              <div class="icons">
                  <a href="#" class="icon">
                      <i class="fab fa-github"></i>
                  </a>
                  <!-- <a href="#" class="icon">
                      <i class="fab fa-behance"></i>
                  </a>
                  <a href="#" class="icon">
                      <i class="fab fa-youtube"></i>
                  </a> -->
              </div>
          </div>
      </div>
      <div class="portfolio-item">
          <div class="image">
              <img src="../../../assets/img/portfolio/app-todos-redux.png" alt="">
          </div>
          <div class="hover-items">
              <h3>Fuente del proyecto</h3>
              <div class="icons">
                  <a href="#" class="icon">
                      <i class="fab fa-github"></i>
                  </a>
                  <!-- <a href="#" class="icon">
                      <i class="fab fa-behance"></i>
                  </a>
                  <a href="#" class="icon">
                      <i class="fab fa-youtube"></i>
                  </a> -->
              </div>
          </div>
      </div>
  </div>
</section>
