<div class="controls">
  <button routerLink="/" routerLinkActive="active-btn" class="control" data-id="home">
    <i class="fas fa-home"></i>
  </button>
  <button routerLink="about" routerLinkActive="active-btn" class="control" data-id="about">
    <i class="fas fa-user"></i>
  </button>
  <button routerLink="portfolio" routerLinkActive="active-btn" class="control" data-id="portfolio">
    <i class="fas fa-briefcase"></i>
  </button>
  <button routerLink="blogs" routerLinkActive="active-btn" class="control" data-id="blogs">
    <i class="far fa-newspaper"></i>
  </button>
  <button routerLink="contact" routerLinkActive="active-btn" class="control" data-id="contact">
    <i class="fas fa-envelope-open"></i>
  </button>
</div>
