<section class="container active" id="blogs">
  <div class="blogs-content">
      <div class="main-title">
          <h2>Mi <span>Blog</span><span class="bg-text">Mi Blog</span></h2>
      </div>
      <div class="blogs">
          <div class="blog">
              <img src="../../../assets/img/blog/blog1.jpg" alt="">
              <div class="blog-text">
                  <h4>
                      How to Create Your Own Website
                  </h4>
                  <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Doloribus natus voluptas, eos obcaecati recusandae amet?
                  </p>
              </div>
          </div>
          <div class="blog">
              <img src="../../../assets/img/blog/blog2.jpg" alt="">
              <div class="blog-text">
                  <h4>
                      How to Become an Expert in Web Design
                  </h4>
                  <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Doloribus natus voluptas, eos obcaecati recusandae amet?
                  </p>
              </div>
          </div>
          <div class="blog">
              <img src="../../../assets/img/blog/blog3.jpg" alt="">
              <div class="blog-text">
                  <h4>
                      Become a Web Designer in 10 Days
                  </h4>
                  <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Doloribus natus voluptas, eos obcaecati recusandae amet?
                  </p>
              </div>
          </div>
          <div class="blog">
              <img src="../../../assets/img/blog/blog2.jpg" alt="">
              <div class="blog-text">
                  <h4>
                      Debbuging made easy with Web Inspector
                  </h4>
                  <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Doloribus natus voluptas, eos obcaecati recusandae amet?
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
